#включи ми модула еквивалентно на например отвори ми php файла <?php
RewriteEngine On 
#При какви условия тази заявка да се изпълнява
#Да не правим заявки към файлове(различно от файл)
RewriteCond %{REQUEST_FILENAME} !-f
#Да не правим заявки към директории(различно от директория)
RewriteCond %{REQUEST_FILENAME} !-d
#Задаваме самото условие(към какво да пренасочва сървъра)
RewriteRule . /Ajax/CMS_AJAX_SERVER/index.php [L]